
/*中间样式*/
.center{
    width: 980px;
    height:auto;
    //background: lightgrey;
    margin: 0 auto;
}
.center-content{
    width: 900px;
    //background: dimgrey;
    margin: 0 auto;
    padding: 20px;
}
.center-content-article{
    font-size: 18px;
    line-height: 1.6;
    width: 900px;
    float: left;
    overflow: hidden;
}
.center-content-article img{
    width: 300px;
    height: 300px;
    margin-right: 20px;
    float: left;
}
.center-content-article h2{
    width: 940px;
    text-align: center;
}
.center-content-article p{
    text-indent: 2em;
}

.center-content-list{
    position: relative;
    padding-top: 50px;
    width: 900px;
    height: auto;
    overflow: hidden;
}
.center-content-list ul{
    height: auto;
    width: 100%;
    list-style: none;
    overflow: hidden;
    margin-top: 10px;
}
.center-content-list ul li{
    float: left;
    width: 200px;
    height: 250px;
    //background: darkseagreen;
    margin: 10px;
    overflow: hidden;
}
.center-content-list ul li a{
    width: 100%;
    height: 200px;
    display: block;
    overflow: hidden;
}
.center-content-list ul li img{
    width: 200px;
    height: 200px;
    transition: all 0.5s;
}
.center-content-list ul li img:hover{
    transform: scale(1.1);
}
.center-content-list ul li p{
    margin-top: 10px;
    text-align: center;
}
