
/*中间样式*/
.center{
    width: 980px;
    height: auto;
    //background: lightgrey;
    margin: 0 auto;
}
.center-content{
    width: 900px;
    height: auto;
    //background: dimgrey;
    margin: 0 auto;
    padding: 20px;
}
.center-content-article{
    font-size: 18px;
    line-height: 1.6;
    width: 900px;
    float: left;
}
.center-content-article img{
    width: 300px;
    height: 300px;
    margin-right: 20px;
    float: left;
}
.center-content-article h2{
    display: inline-block;
    width: 580px;
    text-align: center;
}

.center-content-list{
    width: 900px;
    height: auto;
    overflow: hidden;
}
.center-content-list ul{
    width: 100%;
    list-style: none;
    overflow: hidden;
}
.center-content-list ul li{
    float: left;
    width: 200px;
    height: 250px;
    //background: darkseagreen;
    margin: 10px;
}
.center-content-list ul li img{
    width: 200px;
    height: 200px;
}
.center-content-list ul li p{
    text-align: center;
}

