*{
    margin: 0 ;
    padding: 0;
}
.container{
    width: 100%;
}
.container .caption{
    text-align: center;
    margin: 10px auto;
}
.container .container h1{
    text-align: center;
    margin: 10px auto;
}
.container .updateForm{
    width: 1000px;
}
.container .updateForm table{
    border: 1px solid black;
    margin-left: 20px;
    text-align: center;
    width: 100%;
}
.container .updateForm table tr:nth-child(1){
    height: 50px;
    line-height: 50px;
    background: #99cccc;
}
.container .updateForm table tr:nth-child(3){
    height: 50px;
    line-height: 50px;
    background: #99cccc;
}
.container .updateForm table tr td img{
    min-width: 100px;
}
.btnUpdate{
    width: 50px;
    height: 30px;
    background:rgb(264,220,200);
    margin-left: 20px;
    padding: 5px;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btnUpdate:hover {
    color: darkgoldenrod;
}
.input{
    padding: 20px 0px 20px 0;
}

#caption{
    margin-left: -400px;
}
#title{
    font-size: 20px;
}